# AWS private keys
*.pem

# Environment variables / secrets
.env

# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/

# Django
db.sqlite3
staticfiles/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
